.pagination {
	display: flex;

	li {
		a {
			display: flex;
			justify-content: center;
			align-items: center;

			color: #fe5f1e;

			width: 20px;
			height: 20px;

			padding: 20px;
			margin-right: 10px;

			cursor: pointer;

			border: 1px solid #fe5f1e;
			border-radius: 50%;

			transition: 0.2s all ease-in-out;

			&:hover {
				background: #fe5f1e;
				color: #fff;
			}
		}
	}

	:global {
		.selected {
			a {
				background: #fe5f1e;
				color: #fff;
			}
		}

		.disabled {
			a {
				border-color: #7b6c67ab;

				color: #7b6c67ab;

				cursor: not-allowed;
			}
		}
	}
}
