@import '../../assets/styles/mixins';

.cartEmpty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;

	h2 {
		font-size: 32px;
		margin-bottom: 10px;

		@media screen and (max-width: 440px) {
			font-size: 20px;
		}
	}

	p {
		font-size: 18px;
		line-height: 145.4%;
		letter-spacing: 0.01em;
		color: #777777;

		@media screen and (max-width: 560px) {
			font-size: 13px;
		}
	}

	img {
		display: block;
		max-width: 35%;
		margin: 45px auto 60px;
	}

	.button__black {
		@include btn;

		background-color: #232323;
		color: #fff;
		padding: 12px 0 14px;
		width: 230px;
		margin: 0 auto;
		font-weight: 600;
		font-size: 18px;

		&:hover,
		&:active {
			background-color: #3d3d3d;
		}

		@media screen and (max-width: 430px) {
			width: 150px;
			font-size: 15px;
		}
	}
}
